<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% include 'includes/navigation.html' %}
    <h1>Scholarships</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Distinctio, dolorum cupiditate neque animi corporis sunt. Perferendis impedit facilis quae architecto cupiditate accusantium iusto blanditiis aliquam excepturi, quia minus, provident a.</p>
</body>
</html>