<!DOCTYPE html>
<html>
  <head>
    <title>{{ dept }} - {{ year }} Students</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='table.css') }}"
    />
  </head>

  <body>
    {% include 'includes/navigation.html' %}

    <h1 class="title">{{ dept }} - Batch {{ year }}</h1>

    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Roll No</th>
          <th>Course</th>
          <th>Gender</th>
          <th>Action</th>
        </tr>
      </thead>

      <tbody>
        {% for s in students %}
        <tr>
          <td>{{ s.fullname }}</td>
          <td>{{ s.rollno }}</td>
          <td>{{ s.course }}</td>
          <td>{{ s.gender }}</td>

          <td>
            <a href="/students/profile/{{ s.id }}" class="action-btn"
              >Profile</a
            >
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </body>
</html>
