<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='home.css') }}"
    />
  </head>
  <body>
    <header class="header">
      <a href="/"
        ><img
          src="{{ url_for('static', filename='images/logo.jpg') }}"
          alt="Logo"
          class="logo"
        />
      </a>
      <nav class="main-nav">
        <ul class="main-nav-list">
          <li>
            <a
              class="main-nav-link {{ 'active' if request.path == '/' else '' }}"
              href="/"
              >Home</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path == '/students/' else '' }}"
              href="/students"
              >All Students</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path == '/students/register' else '' }}"
              href="/students/register"
              >Register Student</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path.startswith('/departments') else '' }}"
              href="/departments"
              >Departments</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path.startswith('/scholarships') else '' }}"
              href="/scholarships"
              >Scholarships</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path.startswith('/hostels') else '' }}"
              href="/hostels"
              >Hostels</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path.startswith('/transport') else '' }}"
              href="/transport"
              >Transport Service</a
            >
          </li>

          <li>
            <a
              class="main-nav-link {{ 'active' if request.path.startswith('/contact') else '' }}"
              href="/contacts"
              >Contact Us</a
            >
          </li>
        </ul>
      </nav>
    </header>
    {% block content %}{% endblock %}
  </body>
</html>
