.section-dashboard {
  margin: 4.8rem 0 4.8rem 0;
}

.grid {
  display: grid;
  row-gap: 9.6rem;
  column-gap: 6.4rem;
  /* margin-bottom: 9.6rem */
}
.grid--2-cols {
  grid-template-columns: repeat(2, 1fr);
}

.grid--3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.nav-card {
  color: #fff;
  font-size: 1.6rem;
  text-decoration: none;
}

.nav-card h3 {
  text-align: center;
  margin-bottom: 1rem;
  font-size: 2rem;
  font-weight: 700;
}

.dash-box {
  width: 400px;
  height: 100px;
  background-color: #2a3984;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}
