body {
  font-family: "Segoe UI", sans-serif;
  background: #eef3fb;
  margin: 0;
}

.hostel-container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
}

.hostel-container h1 {
  text-align: center;
  font-size: 40px;
  color: #0b4a8b;
  margin-bottom: 40px;
}

.hostel-card {
  background: white;
  padding: 30px;
  margin-bottom: 30px;
  border-radius: 14px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.1);
}

.hostel-card h2 {
  margin-top: 0;
  color: #0b4a8b;
  font-size: 2.6rem;
}

.hostel-card h3{
  font-size: 1.8rem;
}

li{
  font-size: 1.4rem;
}

.hostel-card p {
  font-size: 16px;
  margin: 5px 0;
}

.hostel-card ul {
  padding-left: 20px;
  color: #444;
  margin: 10px 0 20px 0;
}

.hostel-card li {
  margin-bottom: 6px;
}

.hostel-card h3 {
  margin-top: 20px;
  color: #333;
}

.hostel-notice {
  background: #dcecff;
  border-left: 6px solid #0b4a8b;
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 8px;
  margin-bottom: 30px;
}

.hostel-notice a {
  color: #0b4a8b;
  font-weight: 600;
  text-decoration: none;
}

.hostel-notice a:hover {
  text-decoration: underline;
}

.hostel-notice {
  background: #fff4d6;
  border-left: 6px solid #ffab00;
  padding: 15px 20px;
  font-size: 17px;
  border-radius: 8px;
  margin-bottom: 30px;
  color: #6a4a00;
}
