body {
  background: #eef3fb;
  font-family: "Segoe UI", sans-serif;
}

.scholarships-container {
  max-width: 1100px;
  margin: 60px auto;
  padding: 0 20px;
}

.title {
  text-align: center;
  font-size: 38px;
  color: #0b4a8b;
  margin-bottom: 40px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  gap: 25px;
}

.scholarship-card {
  background: #fff;
  padding: 25px;
  border-radius: 14px;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: 0.3s ease;
}

.scholarship-card:hover {
  transform: translateY(-4px);
}

.scholarship-card h2 {
  margin: 0 0 10px;
  color: #0b4a8b;
}

.desc {
  color: #444;
  font-size: 15px;
  margin-bottom: 15px;
}

.meta {
  font-size: 14px;
  margin-bottom: 18px;
}

.apply-btn {
  background-color: #0b4a8b;
  color: white;
  padding: 10px 18px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  display: inline-block;
  transition: 0.2s ease;
  font-size: 1.2rem;
}

.apply-btn:hover {
  background-color: #093a6f;
}

.manage-btn {
  background-color: #0b4a8b;
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: 600;
  transition: 0.2s;
  display: inline-block;
  margin-top: 2rem;
  font-size: 1.2rem;
}

.manage-btn:hover {
  background-color: #093a6f;
}
