* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}
.home {
  height: 100vh;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #2a3984;

  height: 9.6rem;
  padding: 0 4.8rem;
  position: relative;
}

.logo {
  height: 6.2rem;
  border-radius: 50%;
}

a {
  color: white;
}

/* *************************************/
/* Navigation Section */
/* *********************************** */
.main-nav-list {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 3.2rem;
}

.main-nav-link {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;               
  font-size: 1.8rem;
  padding: 6px 12px;              
  border-radius: 6px;
  border: 2px solid transparent; 
  transition: all 0.3s ease;      
  color: white;
}

.main-nav-link:hover {
  background-color: #fff;
  color: #2a3984;
  border-color: #fff;             
}

.main-nav-link.active {
  background-color: #fff;
  color: #0b1f55;
  border-color: #fff;            
}
