body {
  font-family: "Segoe UI", sans-serif;
  background: #f0f7ff;
  margin: 0;
}

.page-title {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 30px 0;
  color: #0b4a8b;
}

.transport-grid {
  width: 90%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 30px;
}

.transport-card {
  background: white;
  border-radius: 20px;
  padding: 25px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.08);
  transition: all 0.3s ease;
}

.transport-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 14px 35px rgba(0, 0, 0, 0.15);
}

.card-content h2 {
  margin: 0 0 10px;
  font-size: 22px;
  color: #043b6b;
}

.card-content p {
  margin: 5px 0;
  font-size: 15px;
  color: #444;
}

.bus-icon {
  font-size: 60px;
  color: #0b4a8b;
}

.apply-section {
  text-align: center;
  margin: 50px 0 30px;
}

.apply-btn {
  background-color: #0b4a8b;
  color: white;
  padding: 14px 28px;
  font-size: 17px;
  font-weight: 600;
  border-radius: 8px;
  text-decoration: none;
  display: inline-block;
  box-shadow: 0 6px 14px rgba(0, 0, 0, 0.15);
  transition: 0.25s ease;
}

.apply-btn:hover {
  background-color: #093a6f;
  transform: translateY(-3px);
  box-shadow: 0 10px 22px rgba(0, 0, 0, 0.2);
}
