<!DOCTYPE html>
<html>
  <head>
    <title>{{ dept_name }} Department</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='detail.css') }}"
    />
  </head>

  <body>
    {% include 'includes/navigation.html' %}

    <h1>{{ dept_name }} Department</h1>

    {% if batches %} {% for year, students in batches.items() %}

    <!-- Accordion Button -->
    <div class="accordion">
      Batch {{ year }}
      <span class="count"> ({{ students|length }} students) </span>
      <span class="arrow">▶</span>
    </div>

    <!-- Panel -->
    <div class="panel">
      <div class="sort-box">
        <label>Sort by:</label>
        <select class="sort-select">
          <option value="0">Roll No</option>
          <option value="1">Name</option>
          <option value="2">DOB</option>
          <option value="3">Address</option>
          <option value="4">Category</option>
          <option value="5">Course</option>
          <option value="6">Year</option>
          <option value="7">Gender</option>
        </select>
      </div>
      <table>
        <tbody>
          {% for s in students %}
          <tr>
            <td>{{ s.rollno }}</td>
            <td>{{ s.fullname }}</td>
            <td>{{ s.dob }}</td>
            <td>{{ s.address }}</td>
            <td>{{ s.category }}</td>
            <td>{{ s.course }}</td>
            <td>{{ s.admission_year }}</td>
            <td>{{ s.gender }}</td>
          </tr>

          {% endfor %}
        </tbody>
      </table>
    </div>

    {% endfor %} {% else %}
    <p class="empty-msg">No students registered in this department.</p>
    {% endif %}

    <script src="{{ url_for('static', filename='js/detail.js') }}"></script>
  </body>
</html>
